@font-face {
    font-family: 'Diconium Toolbox Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url('./fonts/toolbox.ttf') format('truetype'),
         url('./fonts/toolbox.eot') format('eot'),
         url('./fonts/toolbox.woff') format('woff'),
         url('./fonts/toolbox.eot') format('woff2');
  }
  
.toolbox-icons-outlined {
  font-family: 'Diconium Toolbox Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}