@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@layer base {
    html {
      font-family: 'Poppins', sans-serif;
    }

    body {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
    }
  
    h1 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 600;
    }
  
    h2 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
    }
  
    h3 {
      font-size: 17px;
      line-height: 24px;
      font-weight: 500;
    }
  
    h4 {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
    }
  
    h5 {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
    }
  
    h6 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
    }

    small {
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
    }

    @media (min-width: 430px) {
      body {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }
    
      h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
      }
    
      h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
      }
    
      h3 {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
      }
    
      h4 {
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
      }
    
      h5 {
        font-size: 15px;
        line-height: 20px;
        font-weight: 600;
      }
    
      h6 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
      }

      small {
        font-size: 13px;
        line-height: 18px;
        font-weight: 300;
      }
    }
  }